/** Variables **/
$red-cup-color: #c74646;
$red-cup-color-hover: #a83a3a;
$gray-cup-color: #686868;
$white-cup-color: #fff;

/** Sidebar **/
$sidebar-color: #fff;
$sidebar-bg: $red-cup-color;
$sidebar-nav-link-active-icon-color: $white-cup-color !important;
$sidebar-nav-link-active-color: $white-cup-color !important;
$sidebar-nav-link-icon-color: $white-cup-color !important;
$sidebar-nav-link-hover-bg: $red-cup-color-hover;
$sidebar-nav-dropdown-indicator-hover: $white-cup-color !important;
$sidebar-nav-dropdown-indicator-color: $white-cup-color !default;
